<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'device:device_list' %}">Список Устройств</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'device:device_create' %}">Добавить устройство</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin">Админка</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>