{% extends 'base.html' %}}

{% block content %}
	<form action="{% url 'device:device_create'%}" method="POST">
		{% csrf_token %}

		{{ form.as_p }}
		<button type='submit'>добавить</button>
	</form>
{% endblock content %}