{% extends 'base.html' %}}

{% block content %}
	<div class="row">
		<div class="col">
			<h1>Усройство {{ object.name }}</h1>
			<h4>Описание</h4>
			<div class="row">
				
				<div class="col-2">
					<p>Тип:</p> 
					<p>Адрес:</p>
					<p>Широта:</p>
					<p>Долгота:</p>
					<p>Радиус действия(м):</p>

				</div>
				<div class="col">
					<p>{{ object.get_type_display }}</p>
					<p>{{ object.adress }}</p>
					<p>{{ object.latitude }}</p>
					<p>{{ object.longitude }}</p>
					<p>{{ object.radius }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
