{% extends 'base.html' %}

{% block content %}
	<h1>Устройства</h1>
	<div class="row">
		<div class="col-8">
			<ul class="list-group">
			{% for device in filter_set %}
				<li class="list-group-item mt-1"><a href="{{ device.get_absolute_url }}">{{ device.name }} - {{ device.get_type_display }}</a></li>
			{% empty %}
				{% for device in object_list %}
				    <li class="list-group-item mt-1"><a href="{{ device.get_absolute_url }}">{{ device.name }} - {{ device.get_type_display }}</a></li>
				{% empty %}
				    <li>Еще нет устройств</li>
				{% endfor %}
			{% endfor %}
			</ul>
		</div>


		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Сортировка</h5>
					<a href="{% url 'device:device_list' %}?type=m" class="card-link">громкоговоритель</a>
					<a href="{% url 'device:device_list' %}?type=s" class="card-link">сирена</a>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
